<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body style="background-color:#fff;font-family:inherit">
	<style type="text/css"></style><br>
	<div class="container fondoContenido"
		style="-moz-border-radius:10px 10px 10px 10px;-webkit-border-radius:10px 10px 10px 10px;background-color:#F4F4F4;border-radius:10px 10px 10px 10px">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8"><br>
				<center>
					<h1>Bienvenido a GameMatch</h1>
				</center>
			</div>
			<center>
				<div class="col-md-2"><img class="imgLogo"
						src="https://res.cloudinary.com/pat9/image/upload/v1560136930/logo_m6hpmp.png"
						style="height:90px;max-width:90px"></div>
			</center>
		</div><br>
		<div class="row">
			<div class="col-md-12">
				<h3>Bienvenido a nuestra plataforma GameMatch, tu registrado ha finalizado.</h3>
			</div>
		</div><br>
		<div class="row">
			<div class="col-md-12 textoContenido" style="color:#9C9C9C;text-align:justify"><span>Para realizar cambios
					en tu cuenta, recuerda iniciar sesión en <a href="#">GameMatch</a>. Desde nuestra plataforma podrias
					acceder a la información de los torneos, crear arenas, entre otras cosas más. </span><br><span>Ahora
					eres miembro de GameMatch !!Que esperas para iniciar sesión y que empiece el juego¡¡</span></div>
		</div><br>
		<div class="row">
			<div class="col-md-4">
				<h5>Recuerda visitar nuestras redes sociales <img src="facebook.png"> <img src="youtube.png"> <img
						src="twitch.png"><br><br></h5>
			</div>
			<div class="col-md-3">
				<h5>Información de Contacto:</h5><span>Correo Electrónico</span><br><span class="textoContenido"
					style="color:#9C9C9C;text-align:justify">gamematch@gmail.com</span><br><br><span>Número de
					Contacto</span><br><span class="textoContenido" style="color:#9C9C9C;text-align:justify">+52 999 906
					3962</span>
			</div>
			<div class="col-md-5">
				<h5>Acerca de:</h5><span class="textoContenido" style="color:#9C9C9C;text-align:justify">GameMatch es el
					medio para unir a jugadores con otro jugadores, creando una gran comunidad de gente apasionada por
					los eSports.</span>
			</div>
		</div><br>
	</div>
</body>

</html>