<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<style type="text/css">
  body,
  html, 
  .body {
    background: #f3f3f3 !important;
  }

  .container.header {
    background: #f3f3f3;
  }

  .body-border {
    border-top: 8px solid #663399;
  }
</style>
<!-- move the above styles into your custom stylesheet -->

<spacer size="16"></spacer>

<container class="header">
  <row>
    <columns>
      <h1 class="text-center">Bienvenido a Gamematch {{name}}</h1>
    </columns>
  </row>
</container>

<container class="body-border">
  <row>
    <columns>

      <spacer size="32"></spacer>

      <center>
          <img width="200" src="https://res.cloudinary.com/pat9/image/upload/v1560136930/logo_m6hpmp.png" />
      </center>

      <spacer size="16"></spacer>

      <h4>Hola bienvenido a la mayor comunidad de gamers competivos</h4>
      <p>Ahora seras parte de las venues que conforman gamematch presiona el boton de registro para
          crear tu página. 
      </p>

      <center>
        <menu>
          <item href="#">gamematch.games</item>
          <item href="#">Facebook</item>
          <item href="#">Twitter</item>
          <item href="#">(408)-555-0123</item>
        </menu>
      </center>

    </columns>
  </row>

  <spacer size="16"></spacer>
</container>
</body>
</html>